# Read CSV file
 1) Find Average of Chemistry marks

In [7]:
import csv
openFile = open('Data.csv')
readFile = csv.reader(openFile)
dataset = list(readFile)

In [8]:
dataset

[['ï»¿Name', 'physics', 'Chemistry', 'Maths'],
 ['Shahzaib ', '56', '67', '45'],
 ['Sufyan', '60', '49', '55'],
 ['Rafay', '62', '56', '77'],
 ['Shahzaib ', '56', '67', '45'],
 ['Sufyan', '60', '49', '55'],
 ['Rafay', '62', '56', '77'],
 ['Shahzaib ', '56', '67', '45'],
 ['Sufyan', '60', '49', '55'],
 ['Rafay', '62', '56', '77'],
 ['Shahzaib ', '56', '67', '45'],
 ['Sufyan', '60', '49', '55'],
 ['Rafay', '62', '56', '77'],
 ['Shahzaib ', '56', '67', '45'],
 ['Sufyan', '60', '49', '55'],
 ['Rafay', '62', '56', '77']]

In [9]:
dataset[0][2]

'Chemistry'

In [12]:
dataset[0].index("Chemistry")

2

In [16]:
for i in dataset[1:]:
    print(type(i[2]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [21]:
for i in dataset[1:]:
    chem = int(i[2])
    print(type(chem))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [25]:
marks_chem = []
for i in dataset[1:]:
    chem = int(i[2])
    marks_chem.append(chem)

In [27]:
marks_chem

[67, 49, 56, 67, 49, 56, 67, 49, 56, 67, 49, 56, 67, 49, 56]

In [72]:
avg_chem = sum(marks_chem)/len(marks_chem)
avg_chem

57.333333333333336

# Find average of Physics Marks

In [100]:
marks_phy = []
for i in dataset[1:]:
    phy = int(i[1])
    marks_phy.append(phy)
avg_phy = sum(marks_phy)/len(marks_phy)
avg_phy

59.333333333333336

# Avg marks of Maths

In [9]:
marks_math = []
for j in dataset[1:]:
    math = int(j[3])
    marks_math.append(math)
avg_maths = sum(marks_math)/len(marks_math)
avg_maths

59.0

# adding % in real enviroment

In [26]:
dataset

[['ï»¿Name', 'physics', 'Chemistry', 'Maths', 'Percentage', 'Percentage'],
 ['Shahzaib ', '56', '67', '45'],
 ['Sufyan', '60', '49', '55'],
 ['Rafay', '62', '56', '77'],
 ['Shahzaib ', '56', '67', '45'],
 ['Sufyan', '60', '49', '55'],
 ['Rafay', '62', '56', '77'],
 ['Shahzaib ', '56', '67', '45'],
 ['Sufyan', '60', '49', '55'],
 ['Rafay', '62', '56', '77'],
 ['Shahzaib ', '56', '67', '45'],
 ['Sufyan', '60', '49', '55'],
 ['Rafay', '62', '56', '77'],
 ['Shahzaib ', '56', '67', '45'],
 ['Sufyan', '60', '49', '55'],
 ['Rafay', '62', '56', '77']]

In [27]:
for i in dataset[1:]:
    phy = int(i[1])
    chem = int(i[2])
    maths = int(i[3]) 
    percentage =(maths+phy+chem) / 300 * 100
#     print(percentage)
    i.append(percentage)

In [28]:
dataset

[['ï»¿Name', 'physics', 'Chemistry', 'Maths', 'Percentage', 'Percentage'],
 ['Shahzaib ', '56', '67', '45', 56.00000000000001],
 ['Sufyan', '60', '49', '55', 54.666666666666664],
 ['Rafay', '62', '56', '77', 65.0],
 ['Shahzaib ', '56', '67', '45', 56.00000000000001],
 ['Sufyan', '60', '49', '55', 54.666666666666664],
 ['Rafay', '62', '56', '77', 65.0],
 ['Shahzaib ', '56', '67', '45', 56.00000000000001],
 ['Sufyan', '60', '49', '55', 54.666666666666664],
 ['Rafay', '62', '56', '77', 65.0],
 ['Shahzaib ', '56', '67', '45', 56.00000000000001],
 ['Sufyan', '60', '49', '55', 54.666666666666664],
 ['Rafay', '62', '56', '77', 65.0],
 ['Shahzaib ', '56', '67', '45', 56.00000000000001],
 ['Sufyan', '60', '49', '55', 54.666666666666664],
 ['Rafay', '62', '56', '77', 65.0]]